.card {
    padding: 30px;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
    width: 30%;
    list-style-position: inside;
    font-family: var(--open-sans);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card > h4 {
    font-size: 30px;
    font-family: var(--poppins);
    margin-bottom: 10px;
}

.card > ul {
    text-align: justify;
	text-justify: inter-word;
}

.cards-container {
    margin: 40px auto 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
