summary {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--open-sans);
    color: #ffffff;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    position: relative;
    list-style: none;
    background-image: linear-gradient(to right, rgb(85, 161, 135), rgb(70,83,255));
}

details {
    margin-bottom: 10px;
}

details > summary::marker {
  display: none;
}

details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}

details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

summary:hover {
    background-image: linear-gradient(to right, rgb(73, 138, 115), rgb(61, 71, 221));
}
