/*Contenedor de novedades*/

.novedades {
    max-width: 80svw;
    height: 700px;
    position: relative;
    margin: 20px auto 40px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0px;
}

/*La novedad actual*/

.slide {
    display: block;
    width: 100%;
}

/*Imagen de fondo del contenedor*/

.slide-image {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    filter: blur(1px) brightness(60%);
}

/*Titulo y descripción de la novedad actual*/

.info-slide {
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 20px 40px;
}

/*Falta modificar colores y tamaños*/
.info-slide > h3 {
    font-family: var(--poppins);
    display: inline;
    font-size: 80px;
    background-color: rgba(137, 194, 137, 0.616);
    padding: 10px 15px;
    color: white;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.info-slide > p {
    display: block;
    font-family: var(--poppins);
    margin-top: 40px;
    width: 70%;
    background-color: rgba(32, 32, 32, 0.356);
    color: white;
    padding: 10px;
    font-size: 35px;
}
