/* Contenedor de novedades */

#novedades {
    max-width: 85svw;
    max-height: 800px;
    position: relative;
    margin: 20px auto 40px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0px;
}

/*La novedad actual*/

#slide {
    display: block;
    width: 100%;
}

/*Imagen de fondo del contenedor*/

#slide-image {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    filter: blur(1px) brightness(60%);
}

/*Titulo y descripción de la novedad actual*/

#info-slide {
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 20px 40px;
}

#info-slide > h3 {
    font-family: var(--poppins);
    display: inline;
    font-size: 60px;
    background-color: rgba(137, 194, 137, 0.616);
  opacity: 0.5;
  border-radius: 20px;
    padding: 10px 15px;
    color: black;
    -webkit-text-stroke: 1.5px, white;
}

#info-slide > p {
    display: block;
    font-family: var(--poppins);
    margin-top: 50px;
    width: 70%;
    background-color: rgba(32, 32, 32, 0.356);
    color: white;
    padding: 10px;
    font-size: 30px;
/* Media queries */

@media screen and (max-width: 1366px) {
	#novedades {
		max-width: 90svw;
	}

    #info-slide > h3, #slide > h3 {
        font-size: 55px;
    }

    #info-slide > p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    #info-slide > h3, #slide > h3 {
        font-size: 45px;
    }

    #info-slide > h3 {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #info-slide > p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #info-slide > h3, #slide > h3 {
        font-size: 35px;
    }

    #slide > h3 {
        padding-left: 20px;
    }
}

@media screen and (max-width: 576px) {
    #slide > h3 {
        max-width: 80%;
        font-size: 25px;
    }
}
