@import './contacto/formulario.css';
@import './cartelera/cartelera.css';
@import 'slider.css';
@import './faq/faq.css';
@import 'trailers.css';

/* saco configuraciones por defecto de CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* creo variables para las fuentes de google fonts */

:root {
	--poppins: 'Poppins', sans-serif;
	--open-sans: 'Open Sans', sans-serif;
	--negro: #0D0D0D;
	--grisoscuro: #404040;
	--grisclaro: #D9D9D9;
	--blanco: #F2F2F2;
	--padding-container: 50px 0;
}

body {
	background-image: linear-gradient(to bottom right, #4e1f3f, #27194b);
	display: flex;
	min-height: 100svh;
	flex-direction: column;
}

main {
	flex: 1;
}

/* estilo para el header y nav */

#navbar {
	background-color: var(--negro);
	padding: 5px 35px;
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: space-between;
}

#logo-container {
	height: 100%;
}

.logo {
	border-radius: 15px;
    height: 100%;
	cursor: pointer;
	padding: 10px;
}

/* magia en el nav */

#navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

#navbar ul li a {
	font-size: 2.2rem;
	color: var(--blanco);
	text-decoration: none;
	font-family: var(--open-sans);
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 3px solid rgba(0,0,0,0);
	transition: border-bottom-color 1.5s;
}

#navbar ul li a:hover {
	color: var(--grisclaro);
	border-bottom-color: var(--blanco);
}

/* estilos para cada section */

section {
	background-color: #c185d400;
	max-width: 80svw;
	margin: 20px auto;
	padding: 10px 40px 40px 30px;
	text-align: justify;
	text-justify: inter-word;
	border-radius: 40px;
}

h1 {
	text-align: center;
}

h2 {
	font-family: var(--open-sans);
	text-align: center;
	color: white;
	font-size: 45px;
	padding-top: 20px;
}

.titulo-pagina {
    font-size: 70px;
	padding-top: 60px;
    padding-bottom: 20px;
    font-family: var(--poppins);
    color: white;
}

p {
	font-family: var(--open-sans);
	font-size: 35px;
}

/* aca le doy margen cuando voy bajando con el navegador y que el efecto sea agradable a la vista */

section [id] {
	scroll-margin-top: 25px;
}

html {
	scroll-behavior: smooth;
}

/* Footer */

footer {
	background-color: var(--grisoscuro);
	height: 20svh;
	height: 17svh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lista-footer > li {
	padding: 8px;
	display: inline;
}

#lista-footer > li > a:hover {
	color: var(--grisclaro);
	text-decoration: underline;
	text-underline-offset: 4px;
}

#lista-footer > li > a {
	color: white;
	margin: 15px;
	text-decoration: none;
	font-size: 20px;
	font-family: var(--open-sans);
}

#lista-footer > li:not(:last-child) {
	border-right: 3px solid white;
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 8px;
	}

	#navbar ul li {
		margin: 0 10px;
	}

	section {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
	html {
		font-size: 7px;
	}

	#navbar {
		padding: 0 15px;
	}

	#lista-footer > li {
		display: block;
		text-align: center;
	}

	#lista-footer > li:not(:last-child) {
		border-right: none;
		border-bottom: 3px solid white;
	}
}
